* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 auto;
}
.landing_page {
  background-image: url("Backgroundb.png");
  width: 1280px;
  height: 568.12px;
  padding: 0px 0px 72px 96px;
  font-family: "Montserrat", sans-serif;
  margin-top: 80px;
}
.landing_page_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  color: #fff;
  width: 386px;
  height: 275.71px;
  margin-top: 200px;
}
.heading {
  width: 386px;
  height: 88px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.landing_page_intro {
  color: #fff;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 386px;
  height: 96px;
}

.get_started_button {
  width: 148px;
  height: 36px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #4ead1f;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 17.25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: black;
  white-space: nowrap;
  /* margin-left: 158px;
  margin-top: 24px; */
}
.hero_section_text_wrapper {
  height: 209px;
  padding: 96px 96px 24px 96px;
  gap: 48px;
  width: 1280px;
  align-self: stretch;
}
.hero_section_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  color: var(--light-black, #545454);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero_section_text h2 {
  color: #1c1917;
}
.hero_section_text p {
  color: #545454;
}
.sample_image {
  width: 1160px;
  height: 551px;
}
.sample {
  padding: 0 36px;
  border-radius: 0px 0px 6px 6px;
  background: linear-gradient(
    360deg,
    rgba(78, 173, 31, 0.3) 0%,
    rgba(84, 84, 84, 0) 100%
  );
}
.sample_container {
  display: flex;
  padding: 0px 60px 76px 60px;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  align-self: stretch;
  background: linear-gradient(
      360deg,
      rgba(84, 84, 84, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #fff;
}
.info {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
}
.text p {
  color: var(--light-black, #545454);
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text h4 {
  color: var(--primary-black, #1c1917);
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.information {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
  height: 101px;
  width: 1160px;
  padding: 0px 72px;
  align-items: flex-start;
  gap: 56px;
  align-self: stretch;
}
.image {
  margin-right: 20px;
  margin-top: 6px;
}
.visualize {
  display: flex;
  width: 453px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-left: 25px;
}
.visualize p {
  color: var(--light-black, #545454);
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.visualize h3 {
  color: var(--primary-black, #1c1917);
  text-align: justify;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.visualize_container {
  display: flex;
  height: 455px;
  padding: 56px 96px;
  justify-content: center;
  align-items: center;
  gap: 150px;
  align-self: stretch;
}
.task_sample_container {
  display: flex;
  height: 455px;
  padding: 56px 96px 70px 96px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  align-self: stretch;
  background: linear-gradient(
    180deg,
    rgba(229, 229, 229, 0.5) 0%,
    rgba(229, 229, 229, 0) 100%
  );
}
.customize h3 {
  color: var(--primary-black, #1c1917);
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.customize p {
  color: #545454;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.learn_more_btn {
  width: 148px;
  height: 36px;
  border-radius: 6px;
  background: #4ead1f;
  border: none;
  color: #ffffff;
  margin-top: 40px;
}

/*Styling for DownSection.jsx */
.download_section {
  background-image: url("Background.png");
  height: 362px;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;

  padding: 20.888px 96px 0px 96px;
  align-items: flex-end;
  gap: 57px;
  align-self: stretch;
}
.download_section_image {
  margin-top: 100px;
  /* margin-right: 100px; */
}
.download_section_text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20.888px;
  align-self: stretch;
  text-align: center;
  display: flex;
  padding: 52px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 46px;
  flex: 1 0 0;
  white-space: nowrap;
}
.download_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 46px;

  color: #ffffff;
}
.download_btn1 {
  border-radius: 6px;
  background: var(--green, #4ead1f);
  width: 148px;
  height: 30px;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border: none;
  color: #ffffff;
}
