* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.left_side_bar_container {
  position: relative;
  left: 10px;
  display: flex;
  padding: 36px 52px 52px 52px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  align-self: stretch;
  width: 273px;
  height: 832px;
  background: rgba(229, 229, 229, 0.25);
}
.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 76px;
}
.create_task {
  display: flex;
  width: 169px;
  padding: 12px;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
}
.create_task_link {
  color: #1c1917;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dashboard_items_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex: 1 0 0;
  align-self: stretch;
  width: 169px;
  height: 466.58px;
  margin-top: 36px;
}
.dashboard_menu_styles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.dashboard_menu_link {
  color: #8e8c8c;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.vector_image {
  padding-left: 50px;
}
.calendar {
  padding-right: 65px;
  padding-bottom: 45px;
}
.teams {
  margin-top: -50px;
}
.premium {
  display: flex;
  width: 169px;
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 120px;
  white-space: nowrap;
  height: 41px;
  background: #4ead1f;
  border-radius: 6px;
}
.go_premium {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.support_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
}
.dashboard_menu_link:hover.active {
  background-color: #4ead1f;
}
