body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 48px 240px;
  background-color: white;
  background-repeat: no-repeat;
}
.title1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 76px;
  color: #545454;
  text-align: center;
  font-family: Noto Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 70;
  line-height: normal;
}
.verificationCode_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.verify_code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 48px;
  width: 46.5vw;
  height: 30px;
}
.next_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
  border-radius: 6px;
  background: #4ead1f;
  color: white;
  width: 47.3vw;
  height: 30px;
  padding: 18px 20px;
}
p {
  text-align: center;
  margin-bottom: 60px;
}
.error_message {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: red;
}
