@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 74px;
  background-color: white;
  width: 100%;
  overflow: auto;
  position: fixed;
  box-shadow: 0 0 2px 0 #000000;
  padding: 0px 96px 0px 90px;
  z-index: 1050;
}
.resources {
  outline: none;
  border: none;
  color: #545454;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 5px;
  text-decoration: none;
  padding-right: 30px;
}
.nav-items > ul,
li {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 56px;
  color: #545454;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login_signup_btn {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-left: 120px;
}

.links {
  color: #545454;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
}
.home {
  font-weight: 600;
}
.logo {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 30px;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 36px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #545454;
  margin-right: 35px;
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  border: 1px solid #4ead1f;
  cursor: pointer;
  white-space: nowrap;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: #4ead1f;
  width: 92px;
  height: 36px;
  border: none;
  border-radius: 6px;
  color: whitesmoke;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
