* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dashboard_container {
  display: flex;
  padding: 0px 52px 52px 32px;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 0 0;
  width: 100%;
  height: 832px;
}
/*user profile welcome dashboard*/
.user_profile {
  display: flex;
  padding: 36px 0px 24px 0px;
  align-items: flex-start;
  gap: 156px;
  align-self: stretch;
  border-bottom: 2px solid rgba(229, 229, 229, 0.25);
  background: #fff;
  width: 923px;
  height: 110px;
}
.__profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  font-style: normal;
  text-align: center;
  padding-left: 36px;
}
.__profile h5 {
  color: var(--primary-black, #1c1917);
  font-size: 24px;
  font-weight: 600;
}
.__profile p {
  color: var(--light-black, #545454);
  font-size: 14px;
  font-weight: 400;
}
.search_icon {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: flex-start;
}
.dummy_image {
  position: relative;
  bottom: 7px;
  margin-left: 28px;
}
.user_name_mail {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  gap: 3px;
  align-self: stretch;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.user_name_mail h5 {
  color: var(--primary-black, #1c1917);
  font-size: 14px;
  font-weight: 600;
}
.user_name_mail p {
  color: var(--light-black, #545454);
  font-size: 14px;
  font-weight: 400;
}
.arrow_btn {
  width: 12px;
  height: 7.4px;
  flex-shrink: 0;
  margin-top: 18px;
}
.task_board {
  width: 754px;
  height: 670px;
  display: flex;
  padding: -5px 16px 0px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
}
/* first box*/
.task_board_item1 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  height: 84px;
  width: 738px;
}
.all_tasks {
  width: 166.5px;
  height: 84px;
  display: flex;
  padding: 24px 16px;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 6px;
  background: var(--green, #4ead1f);
  white-space: nowrap;
}
.all_task_text {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
}
.all_task_text h5 {
  font-size: 14px;
  font-weight: 600;
}
.all_task_text p {
  font-size: 12px;
  font-weight: 400;
}
.In_progress {
  background: #fff;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.in_progress_text h5 {
  color: var(--primary-black, #1c1917);
  text-align: center;
  font-weight: 500;
}
.in_progress_text p {
  color: var(--light-black, #545454);
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
/* second item */

.task_board_item3 {
  width: 738px;
  height: 264px;
  position: relative;
  bottom: 300px;
}
.tasks_today {
  color: var(--primary-black, #1c1917);
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.todays_task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  flex: 1 0 0;
  align-self: stretch;
}
.todays_task1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  width: 738px;
  height: 94px;
  padding: 16px;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.time_task_schedule {
  display: flex;
  align-items: center;
  gap: 76px;
  flex: 1 0 0;
  align-self: stretch;
  width: 658px;
  height: 62px;
}
.time_task {
  width: 473px;
  height: 36px;
  display: flex;
  align-items: flex-start;
  gap: 28px;
  flex: 1 0 0;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.time h5 {
  color: var(--primary-black, #1c1917);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.time p {
  color: var(--light-black, #545454);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.task_schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.task_schedule h5 {
  color: var(--primary-black, #1c1917);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.task_schedule p {
  color: var(--light-black, #545454);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reminder {
  width: 109px;
  height: 30px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 8px;
  border-radius: 3px;
  background: #e5e5e5;
}
.reminder p {
  color: var(--green, #4ead1f);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Right aside bar of the dashboard*/
.center__right_aside_board {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.right_aside_board {
  display: flex;
  padding: 32px 0px 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  width: 169px;
  height: 670px;
}
.overall_progress {
  flex-direction: column;
  display: flex;
  width: 153px;
  height: 187px;
  padding: 0px 22.194px 20px 22.194px;
  align-items: flex-start;
  gap: 11.097px;
  flex-shrink: 0;
  border: 1px solid #e5e5e5;
  background: #fff;
  position: relative;
  bottom: 32px;
}
.overall_progress h5 {
  color: #1c1917;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  position: relative;
  right: 10px;
}
.progress_percent {
  position: relative;
  bottom: 100px;
  left: 24px;
}
.progress_percent h4 {
  color: #4ead1f;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.progress_percent p {
  color: var(--light-black, #545454);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  bottom: 30px;
  right: 10px;
}

.circle_progress {
  margin-right: 100px;
  padding-right: 100px;
  position: relative;
  right: 46px;
  bottom: 27px;
}
.task_schedules_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  width: 153px;
  height: 294px;
}
.task_schedule_wrapper {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background: #fff;
  width: 153px;
  height: 90px;
}

.task_schedule_title {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-style: normal;
  line-height: normal;
}
.task_schedule_title h4 {
  color: #1c1917;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.task_schedule_title p {
  color: #545454;
  font-size: 10px;
  font-weight: 400;
}
.right_aside_board {
  width: 169px;
  height: 659px;
  display: flex;
  padding: 32px 0px 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.calendar {
  width: 153px;
  height: 79px;
  /* margin-top: -10px;
  margin-bottom: 10px; */
}
