.progressbar {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: stretch;
  background-color: #ddd;
  overflow: hidden;
  width: 160px;
  height: 3px;
  border-radius: 50px;
  /* background-color: red; */
}

.bar {
  width: 20%;
  background: #4ead1f;
}
.progressbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progressbar_text {
  width: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  color: #4ead1f;
}
